*{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#5c0c06,#0a0a0a,#0c0c0c);

}
.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
    margin-top: 10px;
}

.navbarj{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbarjk{
    list-style: none;
    margin-left: 60px;
    gap: 3px;
}

#a{
    text-decoration: none;
    padding: 8px 35px;
    color: white;
    border-radius: 30px;
}

#a:hover ,
#a.active 
{
    background:  #ecb02b;
    color:  #5c0c06;
}

#Ant_Fire{
     width: 1300px;
     height: 900px ;
   
}

.intention{
    position: absolute;
    margin-top: 100px;
    width: 400px;
    margin-left: 130px;
}

.vision{
    position: absolute;
    display: flex;
    align-items: center;
    top: 40%;
    left: 38%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    /* -webkit-text-stroke: 1px  #ecb02b ; */
    color: transparent;
    background-image: linear-gradient(white,#ecb02b);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -800px,0;
    animation: backcolor 6s linear infinite alternate;
}
@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}











/* ----------------------------------------[multipal text css]-------------------------------------------*/












.main2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
   margin-top: 200px;
}

.wrapper{
    display: inline-flex;
    width: 800px;
    height: 300px;
}


.wrapper .static-txt{
color: white;
font-size: 60px;
font-weight: 400;
}

.wrapper .dynamic-txts{
 line-height: 100px;
 height: 90px;
 overflow: hidden;
}

.dynamic-txts li{
    color: rgb(239, 49, 65);
    font-size: 60px;
    font-weight: 500;
    list-style: none;
    top: 0;
    position: relative;
    animation: slide 15s steps(5) infinite;
}


@keyframes slide {
    100%{
        top:-495px;
    }
}

.dynamic-txts li span{
    position: relative;

}

.dynamic-txts li span::after{
 content: "";
position: absolute;
height: 85px;
width: 340px;
border-left: 2px solid rgb(239, 49, 65);
background:black ;
left: 0;
animation: typing 3.0s steps(12) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}











/* ---------------------------------------[ Glowing cards css]--------------------------------------------- */








*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: #010615;
   

}

.box{
    position:relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;
    margin-left: 150px;
    margin-top: 100px;

}

.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
}

.box::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;
    filter: blur(40px);
}


.box:nth-child(5):before,
.box:nth-child(5):after
{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.box:nth-child(6):before,
.box:nth-child(6):after
{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}



.box:nth-child(4):before,
.box:nth-child(4):after
{
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}



.box .glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255,255,255,.1);
    pointer-events: none;
}
.box .contant{
    padding: 20px;
    color: white;

}








body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    width: 100%;
   
  }





.partners_section{
    padding: 64px 0;
  }
.section_title{
    text-align: center;
    margin-bottom: 1.5rem;
}

.section_title h3{
    font-size: 2rem;
    font-weight: bold;
}





/* --------------------------------------[contact page css]---------------------------------------------- */









*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin-top: 700px;
    background: url(https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?b=1&s=612x612&w=0&k=20&c=gxvFaSo4attQ1jO45PET0SCOX7ZxpEknCACW9bEutgw=);
    background-size: cover;


   
}
.contact .content{
 width: 1200px;
   text-align: center;
}
.contact .content h2{

    font-size: 36px;
    font-weight: 500;
    color: white;
}
.contact .content p{
    font-weight: 300;
    color: white;
}

.container{
     width: 100%;
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    justify-content: space-between;
   
  
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
 
  
}

.container .contactInfo .box2{
    position: relative;
    padding: 20px 0;
    display:flex;
   
  


}

.container .contactInfo .box2 .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    

}

.container .contactInfo .box2 .text{
    display:flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;

}

.container .contactInfo .box2 .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 50%;
    padding: 40px;
    background: white;
   margin-left: 400px;
   
   
  
   
}
.contactForm h2{
    font-size: 50px;
    color: #333;
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input ,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
   outline: none;
   resize: none ;

}


.contactForm .inputBox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span ,
.contactForm .inputBox input:valid ~ span ,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type='Submit']{
    width: 100px;
    background: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;
    }
}